<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class="col">
      <h1>商品一覧(全<%= @items.count %>件)</h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <% if item.is_active == true %>
            <div class="col-3">
              <table class="table">
                <tbody>
                  <tr><td><%= image_tag item.get_item_image, size: "150x100" %></td></tr>
                  <tr><td><%= link_to item.name, item_path(item.id) %></td></tr>
                  <tr><td>¥<%= item.price %></td></tr>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= will_paginate @items %>
    </div>
  </div>
</div>
