<div class="container-fluid m-md-5">
  <div class="row">
    <div class="col-md-3">
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class="col">
      <h1>商品一覧(全<%= @items.count %>件)</h1>
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <% if item.is_active == true %>
            <div class="col-3">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <%= link_to item_path(item.id) do %>
                        <%= image_tag item.get_item_image, class: "img-fluid" %>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= link_to item_path(item.id), class: "text-dark" do %>
                        <%= item.name %>
                      <% end %>
                    </td>
                  </tr>
                  <tr><td>¥<%= item.price %></td></tr>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      </div>

        <%= will_paginate @items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

    </div>
  </div>
</div>
